.DashImage {
    /* מיקום אבסולוטי ביחס לפינה של המסך או המכולה */
    position: absolute;
    top: 20px;    /* מרחק מהלמעלה */
    right: 20px;  /* מרחק מצד ימין */

    /* הקטנת הגודל כפי שביקשת */
    width: 120px;
    height: auto;

    /* אופציונלי: הוספת מסגרת או צל כדי שיבלוט */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    /* מוודא שהתמונה תהיה מעל אלמנטים אחרים */
    z-index: 100;
}
.dashboard-container {
    flex-: 1;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding: 20px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;

}
.profile-container{
    flex: 1;
    border-radius: 15px;
    border: 3px solid lightgray;
    overflow-y: auto;
}
.post-container{
    flex: 3;
    border-radius: 15px;
    border: 3px solid lightgray;
    overflow-y: auto;
    align-content: center
}

.folowers-container{
    flex: 2;
    border-radius: 15px;
    border: 3px solid lightgray;
    overflow-y: auto;
    align-content: center;
}
h1 {
    margin-right: 100px; /* מפנה מקום לתמונה */
}
.single-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 30px;
    border-radius: 15px;
    border: 3px solid lightgray;
    direction: rtl;
    padding: 10px;
}
.single-user img{
    width: 50px;
    height: 50px;
}

.profile-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid lightgray;
    direction: rtl;
    padding: 3px;
}
.profile-user img{
    width: 100px;
    height: 100px;

}