.DashImage {
    /* מיקום אבסולוטי ביחס לפינה של המסך או המכולה */
    position: absolute;
    top: 20px;    /* מרחק מהלמעלה */
    right: 20px;  /* מרחק מצד ימין */

    /* הקטנת הגודל כפי שביקשת */
    width: 120px;
    height: auto;

    /* אופציונלי: הוספת מסגרת או צל כדי שיבלוט */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    /* מוודא שהתמונה תהיה מעל אלמנטים אחרים */
    z-index: 100;
}
.dashboard-container {
    position: relative;
    padding: 20px;
    min-height: 100vh; /* כדי שהקונטיינר יפרוס את כל הדף */
}
h1 {
    margin-right: 100px; /* מפנה מקום לתמונה */
}
.single-user {
    width: 200px;
    display: flex;
    flex-direction: row; /* כיוון שורה רגיל */
    align-items: center;
    justify-content: space-between; /* גורם להם להיצמד לקצוות אם תרצה מרווח ביניהם */
    gap: 10px;
    font-size: 30px;
    border-radius: 15px;
    border: 3px solid lightgray;
    direction: rtl;
    padding: 10px;
}
.single-user img{
    width: 50px;
    height: 50px;
}

.profile-user{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid lightgray;
    direction: rtl;
    padding: 3px;
}
.profile-user img{
    width: 100px;
    height: 100px;

}