#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}